ul {

  align-items: center;
}

li {
  display: inline-block;
  text-align: center;
  list-style: none;
  width: 25vw;
}

img {
  width: 25vw;
  height: 30vh;
  transition: all 0.2s ease-in;
}

img:hover {
  transform: scale(1.10);
  cursor: pointer;
}

.foodName {
  color: lightgrey;
}

input {
  outline: none;
  background-color: white;
  height: 3vh;
  width: 10vw;
  padding-right: 0vw;
  border-radius: 5px;
  border: 2px solid white;
  text-align: center;
}

input:focus {
  animation: myInputTransform 2s ease-in-out;
  animation-fill-mode: both;
}

@keyframes myInputTransform {
  0% {
    padding-right: 0vw;
  }

  100% {
    padding-right: 4vw;
  }
}
