<br><br>

<label for="foodSearch"> Search our Menu:</label>
<input #foodSearchInput id="foodSearch" [(ngModel)]='pattern' type="text" name="" value="" placeholder="Search here...">


<ul *ngIf="!(foodSearchInput.value === '')">
 <li *ngFor="let oneFood of foodList | filter: 'name':pattern; let i = index">

   <span class="name">{{ oneFood.name}}</span>
   <br>
   <span>{{ oneFood.calories }}</span>
   <br>
   <img [src]="oneFood.image" alt="">
 </li>
</ul>
<br>
<br><br>

<form class="" action="index.html" method="post">

  <label for="">Or add a new item to the Menu: </label><br><br>
  <label for="foodName">Food Name:</label>
  <input [ngModel]="newFood.name" id="foodName" type="text" name="name" value="">
  <label for="calories">Calories:</label>
  <input [ngModel]="newFood.calories" id="calories" type="text" name="calories" value="">
  <label for="image">Image:</label>
  <input [ngModel]="newFood.image" id="image" type="text" name="image" value="">
  <label for="quantity">Quantity:</label>
  <input [ngModel]="newFood.quantity" id="quantity" type="text" name="quantity" value="">

  <button (click)="addFood()" type="submit" name="button">Add!</button>

</form>


<br><br>
<hr>
<br><br>

<h2>List of food we offer: </h2>
<ul>
  <li *ngFor="let oneFood of foodList">
    <p> <span class="foodName">Our Specialty: </span> {{ oneFood.name }} </p>
    <p> Calories: {{ oneFood.calories }} cal. </p>
    <img [src]="oneFood.image" alt="Food Image">
  </li>
</ul>
